* body, html {
  background-color: unset !important;
  background-image: url("./grayscale.jpg");
  background-size: cover;
  /* height: 100%; */
}

/* .body-image {
  background-image: url("./grayscale.jpg"); 
  background-size: auto;

} */

h1 {
  font-family: 'Roboto Slab', serif;
}
.seanTest{
  margin-bottom: 30px;
}