
p {
    color: black;
}

#pic-one, #pic-two, #pic-three {
    border-radius: 8px;
    min-width: 150px;
    max-width: 350px;
    min-height: 150px;
    max-height: 350px;
    
} 

.port-link, a{
    color: rgb(56, 56, 56);
}

h1 {
    color: black;
}


 #heading {
    padding-top: 40px;
    padding-bottom: 40px
}


.mag-icon{
    font-size: 20px; 
    color: black
}
i {
    margin: 4px;
}

.row {
    justify-content: center;
} 

.page-padding {
    padding-bottom: 80px;
}


.proj-one, .proj-three{
    float: right;
}


.spans {
margin-top: 20px;
margin-left: 20px;
}

.proj-one-containter, .proj-three-containter {
    float: right;
    margin-top: 20px;
}

.proj-two-container {
    margin-bottom: 20px;
}

#fantasy-description, #note-description {
display: block;}

hr {
border-bottom: black;
height: 5px;
border-width: 2px;
}
