p {
    color: black;
}

#pic-one, #pic-two, #pic-three {
    border-radius: 8px;
    min-width: 150px;
    max-width: 350px;
    min-height: 150px;
    max-height: 350px;
    /* margin-left: 15px;
    padding-left: 15px; */
    
    
} 

.port-link, a{
    color: rgb(56, 56, 56);
}

h1 {
    color: black;
}

 #heading {
    padding-top: 40px;
    padding-bottom: 40px
}

.mag-icon{
    font-size: 20px; 
    color: black
}
i {
    margin: 4px;
    justify-content: center;
}

#rowTwo {
    justify-content: center; 
} 

.page-padding {
    padding-bottom: 80px;
}


.proj-one, .proj-three, .proj-two {
/* align-content: center; */
margin-left: auto;
padding-left: 10px;
margin-right: auto;

}

.spans {
    justify-content: center;
}


.col-6 {
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.bolder {
    font-weight: bold;
}

.push {
    margin-left: 10px;
    padding-left: 10px;
}