p {
    color: black;
}
#linked {
    color: white;
}

a {
    color: grey;
}


.page-padding {
    padding-bottom: 50px;
}
 
.row {
    justify-content: center;
    margin: auto;
}

#pic-six {
    max-width: 400px;
    max-height: 400px;
    margin-top: 40px;
    border-radius: 8px;
}
/* 
#heading {
    margin-left: auto;
margin-right: auto;
} */

.contact-form {
    
    margin-left: auto;
     /* border-left: solid; */
}