p {
    color: black;
}
#linked {
    color: white;
}

a {
    color: grey;
}


.page-padding {
    padding-bottom: 50px;
}
/* 
h1 {
    text-align: center;
} */

#pic-six {
    max-width: 400px;
    max-height: 400px;
    margin-top: 40px;
}

.contact-form {
    
    margin-left: auto;
     /* border-left: solid; */
}